@tailwind base;
@tailwind components;
@tailwind utilities;

.validate-error {
  color: red;
  display: inline-block;
}
body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.tox-notifications-container, .tox-statusbar__text-container {
  display: none !important;
}

.date-picker-custom > div > div > input {
    height: 1rem !important;
}

.date-picker-custom > div > label {
    font-size: .9rem !important;
}